<h1>
  <%=@merchant.name%> Items
</h1>
<ul id='merchants'>
  <% @merchant_items.each do |item| %>
    <li id='item_<%=item.id%>'>
      <%= link_to item.name, merchant_item_path(@merchant.id, item.id) %>
    </li>
  <% end%>
</ul>